:root {
	--primary-color: rgb(119, 81, 195);
	--primary-color-hover: rgb(152, 133, 185);
	--bg-color: rgb(255,255,255);
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth !important;
}
a {
	color: inherit;
	text-decoration: none;
}
p{
	margin: 0px;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.container{
	display: flex;
	flex-direction: column;
	width: 450px;
	padding: 10px;
	background: var(--bg-color)
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--primary-color);
	padding: 0px 0px 5px 0px;
}
.header .title{
	font-size: 16px;
	color: var(--primary-color)
}
.header p{
	font-size: 15px;
	cursor: pointer;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 20px 0px;
	gap: 10px;
}
.main p{
	font-size: 15px;
}
.main .options{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 15px 0px;
}
.main .options button{
	height: 30px;
	width: 80px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	background: var(--primary-color);
	color: var(--bg-color);
}
.main .options button:hover{
	background: var(--primary-color-hover);
}